# Python Compiled Bytecode
__pycache__/
*.py[cod]
*$py.class

# Local Environment Variables & Secrets
.env
.secrets

# Databases & Backups
db.sqlite3
db.sqlite3-journal

# Django Collected Static Files & Uploaded Media
staticfiles/
media/

# Virtual Environments
.venv/
venv/
env/
ENV/
miniconda3/

# IDE & Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS System Files
.DS_Store
Thumbs.db
Desktop.ini
