# Core web framework
Django>=5.0.0

# Pure-Python MySQL Database Connector (Required for Aiven MySQL)
PyMySQL>=1.1.0

# Image processing library (Required for models.ImageField support)
Pillow>=10.0.0

# Production server
gunicorn>=21.0.0

# Static file compression & delivery
whitenoise>=6.6.0
