# Core web framework
Django==6.0.3

# Pure-Python MySQL Database Connector (Required for Aiven MySQL)
PyMySQL==1.4.6

# Image processing library (Required for models.ImageField support)
Pillow==12.1.1

# Production server
gunicorn==23.0.0

# Static file compression & delivery
whitenoise==6.8.2
